# Build Artifacts
**/build
**/dist
**/node_modules
*.DS_Store
vite-dev*.log

# Secrets & Environment
**/.env
services/api/.env
scripts/backup_config.ps1

# Backend
**/__pycache__/
services/api/server.ini
services/api/static/uploads/

# Monitoring & Backups
dozzle/*
old-files/*
backups/*

# Local IDE
.vscode/
.idea/

# Agents
AGENTS.md
