# Build Artifacts
**/build
**/dist
**/node_modules
*.DS_Store
vite-dev*.log
.tmp/
showcase.txt

# Secrets & Environment
**/.env
services/api/.env
scripts/backup_config.ps1
scripts/showcase_config.sh

# Backend
**/__pycache__/
services/api/static/*

# Monitoring & Backups
dozzle/*
old-files/*
backups/*

# Local IDE
.vscode/
.idea/

.impeccable
