.center-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.flex-wrapper-create {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.flex-wrapper-create .top-bar {
  display: flex;
  justify-content: space-between;
  margin: 15px;
  margin-bottom: 0px;
}

.flex-wrapper-create h2 {
  margin: 10px;
}