# Discord Webhooks
FEEDBACK_WEBHOOK=your_discord_webhook_url
CREATION_WEBHOOK=your_discord_webhook_url
DEBUG_WEBHOOK=your_discord_webhook_url

# Riot API
RIOT_API_KEY=your_riot_api_key

# Infrastructure (Defaults for Docker)
MONGO_URI=mongodb://mongo:27017/
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0

# Monitoring (Dozzle)
DOZZLE_USERNAME=admin
DOZZLE_PASSWORD=password
